* {
    margin: 20;

}

* {
    margin: 0;
    padding: 0;

}

.header {
    width: 100%;
    height: 110px;
    background-color: #ff1e1e;
    display: flex;
    font-size: x-large;
    align-items: center;
    position: fixed;
    z-index: 999;

}



.logo {
    padding-left: 20px;
    font-family: 'Cinzel', serif;
    ;

}


.header a {
    text-decoration: none;
    color: white;
    padding-left: 10px;


}



.corpo-inicio {
    padding-top: 100px;
    background-color: #ffe1d0;
    padding-left: 10px;
    padding-bottom: 50px;
    width: 100%;
}



.corpo-1 {
    margin-left: 20px;
    margin-right: 20px;
}

.corpo-1>h1 {
    color: black;
    text-align: center;
    font-family: 'Ibarra Real Nova', serif;
}

.corpo-1>h2 {
    color: black;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Ibarra Real Nova', serif;
}

.corpo-1>p {
    color: black;
    font-family: 'Ibarra Real Nova', serif;
    font-size: x-large;
    margin-bottom: 100px;
}

.corpo-2 {
    margin-top: 150px;
    margin-right: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}



.imagem-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 105px;

}

.imagem-left h1 {
    font-family: 'Ibarra Real Nova', serif;
}

.imagem-left img {
    width: 400px;
    height: 400px;
    border: solid 0.5px black;
}

.imagem-right img {
    width: 400px;
    height: 400px;
    border: solid 0.5px black;
}

.corpo-right>p {
    padding-left: 100px;
}

h3 {
    text-align: justify;

}

h2 {
    text-align: center;


}

.corpo-3 {

    background: linear-gradient(180deg, rgba(255, 0, 0, 1) 0%, rgba(103, 29, 29, 1) 51%, rgba(0, 0, 0, 1) 100%);
    padding-bottom: 30px;
    border-top: 0.5px solid black;
    border-bottom: 0.5px solid black;


}

.cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 30px;
    border-top: 0.5px solid rgb(248, 246, 248);
    color: rgb(243, 243, 243);
    margin-left: 60px;
    font-family: 'Ibarra Real Nova', serif;
}

.card-1 {
    margin-bottom: 70px;
    margin-right: 150px;

}

.card-1 img {
    width: 400px;
    height: 400px;
    border: solid 0.5px black;
}

.card-1>p {
    margin-top: 10px;
    font-size: medium;

}


.card-2 {
    margin-bottom: 70px;
    padding-left: 8px;
    margin-right: 80px;


}

.card-2 img {
    width: 400px;
    height: 400px;
    border: solid 0.5px black;
}

.card-2>p {
    font-size: medium;
    margin-top: 10px;


}

.card-3 {
    margin-bottom: 70px;
    padding-right: 20px;
    padding-left: 20px;
    width: 100%;
}

.rodape {
    background-color: #620909;
    padding-top: 30px;
    text-align: center;
    width: 100%;
    height: 80px;
}

.rodape p {
    color: white;
}

/* animaçao scrool */

[data-anime] {
    opacity: 0;
    transition: .3s;
}

[data-anime="left"] {
    transform: translate3d(-50px, 0, 0);
}

[data-anime="topo"] {
    transform: translate3d(0, 50px, 0);
}

[data-anime="right"] {
    transform: translate3d(50px, 0, 0);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}


@media screen and 
(max-width: 1100px) {
    .header {
        width: 100%;
        height: 110px;
        background-color: #ff1e1e;
        display: flex;
        font-size: medium;
        align-items: center;
        position: fixed;
        z-index: 999;

    }



    .logo {
        padding-left: 20px;

    }


    .header a {
        text-decoration: none;
        color: white;
        padding-left: 10px;

    }

    .corpo-1 {
        margin-left: 10px;
        margin-right: 10px;
    }

    .corpo-2 {
        margin-top: 150px;
        margin-right: 80px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 10%;
    }

    .imagem-left {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-bottom: 30px;
    }

  

    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding-top: 30px;
        border-top: 0.5px solid rgb(248, 246, 248);
        color: rgb(243, 243, 243);
        font-size: large;
        margin-left: 10%;

    }

    .card-1 {
       
        margin-right: 70px;
        padding-left: 0;
    }
    .card-2 {
        margin-right: 0;
        padding-left: 0;
    }



    
    .rodape p {
        font-size: small;
    }

}

@media screen and (max-width: 768px) {

    .header {
        width: 100%;
        height: 110px;
        background-color: #ff1e1e;
        display: flex;
        font-size: medium;
        align-items: center;
        position: fixed;
        z-index: 999;

    }



    .logo {
        padding-left: 20px;

    }


    .header a {
        text-decoration: none;
        color: white;
        padding-left: 10px;

    }

    .corpo-1 {
        margin-left: 10px;
        margin-right: 10px;
    }

    .corpo-2 {
        margin-top: 150px;
        margin-right: 80px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 20%;
    }

    .imagem-left {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-bottom: 30px;
    }

    .imagem-left img {
        width: 250px;
        height: 250px;
    }

    .imagem-right img {
        width: 250px;
        height: 250px;
    }

    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding-top: 30px;
        border-top: 0.5px solid rgb(248, 246, 248);
        color: rgb(243, 243, 243);
        font-size: large;
        margin-left: 10%;

    }

    .card-1 img {
        width: 250px;
        height: 250px;
        margin: 0;
    }

    .card-1 {
       
        margin-right: 20px;
        padding-left: 0;
    }
    .card-2 {
        margin-right: 0;
        padding-left: 0;
    }




    .card-2 img {
        width: 250px;
        height: 250px;
    }

    .rodape p {
        font-size: small;
    }


}